.personalInfo {
  width: 50%;
  background-color: #2d3443;
  color: white;
  font-family: cursive;
  margin: 10px;
}
.personalInfo p {
  color: white;
  font-family: cursive;
}
.CharInfo{
  margin-top: 50px;
}
.cards{
  display: flex;
}
@media only screen and (max-width: 600px) {
.personalInfo{
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.cards{
  display: inline;
}
}