.personalInfo {
  width: 50%;
  background-color: #2d3443;
  color: white;
  font-family: sans-serif;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.personalInfoContainer {
  padding: 30px;
}
.personalInfo p {
  color: white;
  font-family: sans-serif;
}

.personalInfo img {
  border-radius: 5px;
  margin-bottom: 5px;
}
.personalInfo strong {
  font-weight: 600;
  color: orange;
}
.CharInfo {
  margin-top: 50px;
  background-color: #171c24;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}
.cards {
  display: flex;
}
.OtherInfo {
  width: 50%;
  background-color: #2d3443;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
  height: 100%;
}
.OtherInfoOuter {
  width: 50%;
  color: white;
  font-family: sans-serif;
  margin: 10px;
  height: 100%;
}
.OtherInfoInner {
  width: 100%;
  background-color: #2d3443;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 20px;
  height: 100%;
}
.OtherInfoInnerTwo {
  width: 100%;
  background-color: #2d3443;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
  height: 100%;
}
.OtherInfoBox {
  display: flex;
}

@media only screen and (max-width: 720px) {
  .personalInfo {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .cards {
    display: inline;
  }
  .OtherInfo {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .OtherInfoOuter {
    width: 100%;
    margin: 0;
  }
  .OtherInfoBox {
    display: inline;
  }
}
