.Search {
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 20px;
    width: 50%;
    outline: none;
    font-size: 25px;
    color: white;
    background-color: #13171f;
}

button {
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 20px;
  height: 3%;
  width: 3%;
  margin-top: 10px;
  cursor: pointer;
}

.ImageContainer {
  width: 500px;
}
.charImage {
  max-width: 90%;
  height: auto;
  margin-bottom: 50px;
}
.searchIcon {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1080px){
    button{
        height: 30px;
        width: 30px;
    }
}